<p-dialog 
        
        [modal]="true"
        [(visible)]="data.visible" 
        [style]="{ width: '50rem' }" 
        [breakpoints]="{ '1250px': '75vw', '800px': '90vw' }">
        <p-header [innerHTML]="data.source.title">
        </p-header>
        <h3>ID: {{data.source.id}}</h3>
<p><a *ngIf="data.source.doi"  [href]="data.source.doi" class='doiUrl' target="_blank"> <fa-icon [icon]="['fas', 'newspaper']"></fa-icon> </a>  {{data.source.language}} | {{data.source.type_crossref}} | {{data.source.ismed_first? 'Medicine':'Pasture'}} Cluster:{{data.source.cluster}}</p>
    <h4 >Keywords:</h4> <p [innerHTML]="data.source.keywords"></p>
    <div class="grid">
          <div class="col-3">
              <p-image [src]="data.source.image" width="100%"
              [preview]="true" /> 
          </div>
          <div class="col-9">
                <h3>Abstract</h3>
                <p [innerHTML]="data.source.abstract"></p>
          </div>      
        
    </div>
  

</p-dialog>



