<p-table [value]="dataSource" (sortFunction)="announceSortChange2($event)" [customSort]="true"
[scrollable]="true" scrollHeight="800px" >
  <ng-template pTemplate="header">
    <tr>
      <th> </th>
      <th> Doi</th>
      <th pSortableColumn="title">
        Title <p-sortIcon field="title" />
      </th>
      <th pSortableColumn="keywords">
        keywords <p-sortIcon field="keywords" />
      </th>
      <th>Cluster
      </th>
      <th pSortableColumn="cited_by_count">
        cited_by_count <p-sortIcon field="cited_by_count" />
      </th>
      <th pSortableColumn="publication">
        publication <p-sortIcon field="publication" />
      </th>

      <th pSortableColumn="referenced_works_count">
        referenced_works_count <p-sortIcon field="referenced_works_count" />
      </th>

      <th pSortableColumn="relevance_score">
        relevance_score <p-sortIcon field="relevance_score" />
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-row>
    <tr>
      <td > <button class="p-button-success" (click)="openDialog(row.id)" label="Open">Open</button></td>
      <td>
        <a *ngIf="row.doi" [href]="row.doi" class='doiUrl' target="_blank"> <fa-icon [icon]="['fas', 'newspaper']"></fa-icon> </a>
      </td>
      <td [innerHTML]="row.title"></td>
      <td [innerHTML]="row.keywords"></td>
      <td>{{row.ismed_first? 'Medicine': 'Pasture'}} {{row.cluster}} </td>
      <td>{{ row.cited_by_count }}</td>
      <td>{{ row.publication_date }}</td>
      <td>{{ row.referenced_works_count }}</td>
      <td>{{ row.relevance_score }}</td>

    </tr>
  </ng-template>
</p-table>