<div class="relative overflow-hidden flex flex-column justify-content-center">
    <div class="bg-circle opacity-50" style="top: -200px; left: -700px;"></div>
    <div class="bg-circle hidden lg:flex" style="top: 50px; right:-800px; transform: rotate(60deg)"></div>
    <div class="landing-wrapper">
        <div
            class="flex align-items-center justify-content-between relative lg:static py-6 px-4 mx-0 md:px-7 lg:px-8 lg:py-6 lg:mx-8">
            <a class="cursor-pointer" (click)="router.navigate(['/'])">
                <img class="logo-landing" src="assets/layout/images/logo.png" alt="Logo">
            </a>
            <a pRipple class="cursor-pointer block md:hidden text-700 text-primary" pStyleClass="@next"
                enterFromClass="ng-hidden" enterActiveClass="px-fadein" leaveToClass="ng-hidden"
                leaveActiveClass="px-fadeout" [hideOnOutsideClick]="true">
                <i class="pi pi-bars text-4xl"></i>
            </a>
            <ul #menu  style="top:80px; right: 0%;"
                class="list-none  p-3 md:p-0  justify-content-end ng-hidden md:flex absolute md:static w-full md:w-6 md:px-0 z-3 shadow-2 md:shadow-none  surface-card md:surface-ground">
                <a class="cursor-pointer block md:hidden text-700 text-primary absolute z-5" style="top:1.5rem;
                right: 1.5rem;" pRipple pStyleClass="@parent"
                   enterFromClass="ng-hidden" enterActiveClass="px-fadein" leaveToClass="ng-hidden" leaveActiveClass="px-fadeout">
                    <i class="pi pi-times text-3xl"></i>
                </a>

                <li class=" md:mt-0">
                    <a (click)="router.navigate(['/'], {fragment: 'home'})" pRipple pStyleClass="@grandparent"
                        enterFromClass="ng-hidden" enterActiveClass="px-fadein" leaveToClass="ng-hidden"
                        class="flex m-0 md:ml-5 px-0 py-3 text-900 font-medium line-height-3 cursor-pointer">
                        <span>Home</span>
                    </a>
                </li>
                <li>
                    <a (click)="router.navigate(['/literature'])" pRipple pStyleClass="@grandparent"
                        enterFromClass="ng-hidden" enterActiveClass="px-fadein" leaveToClass="ng-hidden"
                        class="flex m-0 md:ml-5 px-0 py-3 text-900 font-medium line-height-3 cursor-pointer">
                        <span>Database</span>
                    </a>
                </li>
                <li>
                    <a (click)="router.navigate(['/literature/cluster'])" pRipple pStyleClass="@grandparent"
                        enterFromClass="ng-hidden" enterActiveClass="px-fadein" leaveToClass="ng-hidden"
                        class="flex m-0 md:ml-5 px-0 py-3 text-900 font-medium line-height-3 cursor-pointer">
                        <span>Clusters</span>
                    </a>
                </li>
                <li>
                    <a (click)="router.navigate(['/analysis'])"
                    pRipple pStyleClass="@grandparent"
                        enterFromClass="ng-hidden" enterActiveClass="px-fadein" leaveToClass="ng-hidden"
                        class="flex m-0 md:ml-5 px-0 py-3 text-900 font-medium line-height-3 cursor-pointer">
                        <span>Analysis (coming)</span>
                    </a>
                </li>
            </ul>

        </div>
        <div class="py-4 px-4 mx-0 md:mx-6 lg:mx-8 lg:px-8 z-2">
            <div id="home"
                class="grid grid-nogutter justify-content-between align-items-center mb-6 py-6 md:mb-8 md:py-8">
                <div
                    class="col-12 md:col-4 flex flex-column gap-4 flex-order-1 md:flex-order-0 align-items-center md:align-items-start text-center md:text-left">
                    <span class="block text-900 font-bold text-4xl">Understanding the world’s knowledge production on Grassland</span>
                    <span class="block text-700 text-lg">This project showcases the results of a comprehensive scientometric analysis of global scientific publications focused on grasslands. The analysis aimed to:</span>
                    <ul class="flex flex-wrap gap-5 list-none p-0">
                        <li class="flex align-items-center">
                            <div class="p-1 border-circle bg-green-400 inline-block mr-2"></div>
                            <span class="text-900 font-semibold">Identify key research groups and institutions specializing in various themes related to grasslands</span>
                        </li>
                        <li class="flex align-items-center">
                            <div class="p-1 border-circle bg-green-400 inline-block mr-2"></div>
                            <span class="text-900 font-semibold">Highlight potential data gaps in the existing research</span>
                        </li>
                    </ul>
                </div>

                <div class="col-12 md:col-7 flex-order-0 md:flex-order-1 mb-6 md:mb-0 border-round">
                    <img animateEnter="moveinright"
                        src="assets/layout/images/banner.webp" alt=""
                        class="w-10	border-round shadow-2 animation-duration-1000 animation-ease-out">
                </div>
            </div>

            <div id="modules" class="my-6 md:my-8">
                <span class="text-900 block font-bold text-5xl mb-4 text-center">Explore Further</span>
                <span class="text-700 block text-xl mb-8 text-center line-height-3">This website offers several ways to explore the analysis results.</span>

                <div class="flex flex-column lg:flex-row align-items-center justify-content-between mt-8 gap-8">
                    <div class="flex flex-column align-items-center">
                        <img animateEnter="scalein"
                            src="assets/layout/images/database.webp" alt="chat"
                            class="w-10 border-round surface-border shadow-2 animation-duration-500 origin-top">
                        <span class="block text-900 text-lg font-semibold mt-4 text-center">Database Access: View the complete dataset of analyzed publications.</span>
                    </div>
                    <div class="flex flex-column align-items-center">
                        <img animateEnter="scalein"
                            src="assets/layout/images/cluster.webp" alt="chat"
                            class="w-10 border-round surface-border shadow-2 animation-duration-500 origin-top">
                        <span class="block text-900 text-lg font-semibold mt-4 text-center">Publication Clusters: Investigate the identified clusters of related publications.</span>
                    </div>
                    <div class="flex flex-column align-items-center">
                        <img animateEnter="scalein"
                            src="assets/layout/images/results.webp"
                            alt="chat"
                            class="w-10 border-round surface-border shadow-2 animation-duration-500 origin-top">
                        <span class="block text-900 text-lg font-semibold mt-4 text-center">Results & Analysis: See graphs, charts, and statistical analyses summarizing the findings.</span>
                    </div>
                </div>
            </div>

            <div id="data-source" class="my-12 py-12 md:my-6 md:py-6 w-full">
                <div class="text-900 font-bold text-5xl mb-4 text-center">Data Source</div>
                <div class="" >
                    <div class="text-600 text-xl text-justify mb-2 line-height-3 ">The literature used for this analysis was obtained from the <a href="https://openalex.org/" target="_blank">OpenAlex database</a>, a comprehensive open-access repository of scientific publications.</div>
                    <div class="text-600 text-xl text-justify mb-8 line-height-3 ">Priem, J., Piwowar, H., & Orr, R. (2022). OpenAlex: A fully-open index of scholarly works, authors, venues, institutions, and concepts. ArXiv. https://arxiv.org/abs/2205.01833</div>
                </div>
            </div>

            <div class="flex flex-column justify-content-center w-full align-items-center">
                <a class="cursor-pointer" href="#">
                    <img class="logo-landing" src="assets/layout/images/logo.png" alt="Logo">
                </a>
                <div class="text-600 text-xl text-justify line-height-3 ">UFG – Federal University of Goiás</div>
                <div class="text-600 text-xl text-justify line-height-3 ">Lapig – Remote Sensing and GIS Lab</div>
                <div class="text-600 text-xl text-justify line-height-3 "><strong>Pasture Research Program</strong></div>

            </div>
        </div>
    </div>
</div>
